<p>That's all for now... thanks for participating!</p>

<p>If you'd like to keep practicing, <%= link_to "create an account.", new_user_registration_path %></p>

<p><%= link_to "Return to home", root_path %></p>