<header>
    <h1>Game#index</h1>
    <p>Find me in app/views/game/index.html.erb</p>
</header>
<main>
    <canvas id="myCanvas" height="648" width="1024">
    <%= image_tag("lake-bled.jpg", id: "game-image") %>
    </canvas>

    <form action="">
    <table>
        <tr>
            <td>
                <div class="semi left"></div><div class="semi right" id="spot1_actual"></div>
                <input type='text' class="full" />
            </td>
            <td>
                <div class="semi left"></div><div class="semi right"></div>
                <input type='text' class="full" />
            </td>
            <td>
                <div class="semi left"></div><div class="semi right"></div>
                <input type='text' class="full" />
            </td>
            <td>
                <div class="semi left"></div><div class="semi right"></div>
                <input type='text' class="full" />
            </td>
            <td>
                <div class="semi left"></div><div class="semi right"></div>
                <input type='text' class="full" />
            </td>
        </tr>
    </table>
        <input id="form-submit" type="submit" value="submit"/>
    </form>
</main>

