<header>
    <h1>Color Quiz</h1>
<!--     <p>The human eye is incredibly capable; you might not feel that way after trying this quiz. Color vision is contextual, and isolating a color from its context is a challenge. But if you get good at it, you'll paint better.</p>
 --></header>
<main>
    <canvas id="myCanvas" height="648" width="1024">
    <%= image_tag("lake-bled.jpg", id: "game-image") %>
    </canvas>

    <form action="">
    <table>
        <tr>
            <td>
                <div class="semi left"></div><div class="semi right"></div>
                <input type='text' class="full" />
            </td>
            <td>
                <div class="semi left"></div><div class="semi right"></div>
                <input type='text' class="full" />
            </td>
            <td>
                <div class="semi left"></div><div class="semi right"></div>
                <input type='text' class="full" />
            </td>
            <td>
                <div class="semi left"></div><div class="semi right"></div>
                <input type='text' class="full" />
            </td>
            <td>
                <div class="semi left"></div><div class="semi right"></div>
                <input type='text' class="full" />
            </td>
        </tr>
    </table>
        <input id="form-submit" type="submit" value="submit"/>
    </form>

    <pre>
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
    </pre>

    <form action="">
        <input type="color">
    </form>
</main>

