<header>
    <h1>Game#index</h1>
    <p>Find me in app/views/game/index.html.erb</p>
</header>
<main>
<ol>
    <li class="marker" style="
    left: 900px;
    top: 336px;
    position: relative;
"></li>
    <li class="marker" style="
    position: relative;
    top: 473px;
"></li>
    <li class="marker" style="
    position: relative;
    top: 634px;
    left: 725px;
"></li>
    <li class="marker" style="
    position: relative;
    left: 725px;
    top: 280px;
"></li>
    </ol>
    <%= image_tag("lake-bled.jpg", id: "game-image") %>

    <form action="">
        <div><div class="red"></div><div class="blue"></div><input type="text" id="full"></div>
    </form>
</main>

