<header>
    <h1>Color Quiz</h1>
<!--     <p>The human eye is incredibly capable; you might not feel that way after trying this quiz. Color vision is contextual, and isolating a color from its context is a challenge. But if you get good at it, you'll paint better.</p>
 --></header>
<main>
    <ul>
        <li><%= link_to "Play individual images", images_path %></li>
        <li><%= link_to "Value Guessing Game", quiz_path(Quiz.first) %></li>  
    </ul>
</main>

