    <script type="text/paperscript" canvas="myCanvas">
        var from = new Point(0, 10);
        var to = new Point(255, 10);
        var path = new Path.Line(from, to);
        path.strokeColor = 'black';
        path.strokeWidth = 5;
    </script>
<h1>HEY THERE</h1>

<div style="background-color: rgb(222, 105, 27);width: 150px; height: 150px;"></div>
<div style="background-color: rgb(236, 126, 70);width: 150px; height: 150px;"></div>
<canvas id="myCanvas" width="255px" height="300px">
</canvas>