<h1>Image#edit</h1>
<p>Find me in app/views/image/edit.html.erb</p>
<%= javascript_include_tag "edit", type: "text/paperscript", canvas: "myCanvas" %>
<%= content_tag(:canvas, id: "myCanvas", width: @image.width, height: @image.height, data: {spots: @image.spots}) do %>
    <%= image_tag(@image.path, id: "game-image") %>
<% end %>