$("#roundResults").html("<%= j(render(:partial => 'guess', :collection => @round.guesses.order(:created_at => :asc))) %>");
$(".compare").each(function ( index ) {
    var playerGuess = $(this).attr("value");
    var realColor = $(this).attr("data");
    $(this).spectrum({
        showPalette: true,
        palette: [
            [playerGuess, realColor]
        ]
    });
});
$("#roundResults").prepend('<h3><a href="./play">Next Question</a>');