<p>A score of 2.3 or under should be considered good -- that is the threshold for a just noticeable difference (JND in the jargon). Not all scores are created equal; you will score in the fours on a reddish color and it will look indistinguishable, while two divergent blues will score a 0.6</p>

<%= render partial: "images/canvas", locals: {image: @round.image, spots: @round.image.spots} %>

<%= render partial: "guess", collection: @round.guesses.order(:created_at => :asc) %>