<table class="ramp">
  <tr>
    <td class="ramp" style="background-color:#000000"> </td>
    <td class="ramp" style="background-color:#151515"> </td>
    <td class="ramp" style="background-color:#242424"> </td>
    <td class="ramp" style="background-color:#373737"> </td>
    <td class="ramp" style="background-color:#4B4B4B"> </td>
    <td class="ramp" style="background-color:#646464"> </td>
    <td class="ramp" style="background-color:#7E7E7E"> </td>
    <td class="ramp" style="background-color:#9B9B9B"> </td>
    <td class="ramp" style="background-color:#BABABA"> </td>
    <td class="ramp" style="background-color:#DBDBDB"> </td>
    <td class="ramp" style="background-color:#FFFFFF"> </td>
  </tr>
    <tr>
    <td class="ramp" style="background-color:#000000"> </td>
    <td class="ramp" style="background-color:#1b1b1b"> </td>
    <td class="ramp" style="background-color:#303030"> </td>
    <td class="ramp" style="background-color:#474747"> </td>
    <td class="ramp" style="background-color:#5e5e5e"> </td>
    <td class="ramp" style="background-color:#777777"> </td>
    <td class="ramp" style="background-color:#919191"> </td>
    <td class="ramp" style="background-color:#ababab"> </td>
    <td class="ramp" style="background-color:#c6c6c6"> </td>
    <td class="ramp" style="background-color:#e2e2e2"> </td>
    <td class="ramp" style="background-color:#FFFFFF"> </td>
  </tr>
</table>