// Place all the styles related to the Game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background: gray;
    counter-reset: spot-count;
}

table {
    margin: 0px auto;
}

.guess::after {
    content: counter(spot-count);
    counter-increment: spot-count;
    font-size: 62px;
    position: relative;
    top: -44px;
    right: 57px;
}

td {
    color: white;
}

canvas {    
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

main {
    margin: 0px auto;
}

.round {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: red;
    width: 100px;
    height: 100px;
}

form {
    margin-top: 1em;
}

.right {
    width: 50px;
    height: 100px;
    background-color: #a2a2a2;
    border-radius: 100% / 50%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    display: inline-block;
}
.left {
    width: 50px;
    height: 100px;
    background-color: #a2a2a2;
    /*border: 1px solid black;*/
    border-radius: 100% / 50%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    display: inline-block;
}