<header>
  <%= javascript_include_tag "myScript", type: "text/paperscript", canvas: "myCanvas" %>
    <h1>Color Quiz</h1>
</header>

    <%= render partial: "images/canvas", locals: {image: @image, spots: @image.spots} %>

    <%= render partial: "images/colordots", locals: {round: @round, image: @image} %>
    <% if current_user.try(:admin?) %>
        <%= submit_tag value = "Fill circles", id: "defaults" %>
    <% end %>
    <% if current_page?(play_quiz_path) %>
        <h3 id="nextlink" style="display:none"><a href="./play">Next Question</a></h3>
    <% end %>
    <div id="roundResults"></div>
    <div>L<input type="text" size="4" id="LText"></input></div>
    <div>a<input type="text" size="4" id="aText"></input></div>
    <div>b<input type="text" size="4" id="bText"></input></div>
    <input id="LSlider" type="range" min="0" max="100" step=".01"/><span>50</span><br>
<input id="aSlider" type="range" min="-100" max="100" step=".01"/><span>0</span><br>
    <input id="bSlider" type="range" min="-100" max="100" step=".01"/><span>0</span><br>
</main>

